.env
**/*/.DS_STORE
**/.directory
.directory
/data/couch/*
/data/jenkins/*
/data/mysql/*
/log/base/*
/log/couch/*
/log/jenkins/*
/log/mysql/*
/log/nginx/*
/log/platform/*
/log/symfony/*
/log/mysql/*
**/*~
*~
