.env
**/*/.DS_STORE
**/.directory
.directory
/data/couch/*
/data/jenkins/*
/data/mongo/*
/data/mysql/*
/log/app_environment/*
/log/app_specific/*
/log/app_platform/*
/log/external_gateway/*
/log/database_couch/*
/log/database_mysql/*
/log/database_mongo/*
!/data/couch/.keep
!/data/jenkins/.keep
!/data/mongo/.keep
!/data/mysql/.keep
!/log/app_environment/.keep
!/log/app_specific/.keep
!/log/app_platform/.keep
!/log/external_gateway/.keep
!/log/database_couch/.keep
!/log/database_mysql/.keep
!/log/database_mongo/.keep
**/*~
*~
