.env
**/*/.DS_STORE
**/.directory
.directory
/data/couch/*
/data/jenkins/*
/data/mysql/*
/log/app_environment/*
/log/app_specific/*
/log/app_platform/*
/log/external_gateway/*
/log/database_couch/*
/log/database_mysql/*
/log/database_mongo/*
**/*~
*~
